.blog-post {
  width: 100%;
  height: auto;
  padding: 1rem 2rem;
  border-left: 1px solid var(--main-text-color);
  margin: 2rem 0;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: flex-start;
}

.blog-text {
  width: 55%;
}

.blog-post h5 {
  padding: 0;
}
