/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  background: var(--main-bg-color);
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.navContainer {
  height: auto;
  margin-top: clamp(50px, 25vh, 500px);
  overflow: hidden;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  padding-top: 3vh;
  padding-left: clamp(20px, 2vw, 100px);
  text-decoration: none;
  font-size: 1.6rem;
  display: block;
  transition: 0.3s;
}

.sidenav .selected {
  font-weight: 600;
}

.sidenav img {
  height: auto;
  width: auto;
  margin-right: 1rem;
  transition: all 0.2s ease-in-out;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  transform: scale(1.1);
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  font-size: 1.6rem;
}

span img {
  height: auto;
  width: auto;
  margin: 1.6rem;
}

.hamburger-icon:hover,
.back-arrow:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.nav-container a:active {
  color: var(--main-accent-color);
}

.breadcrumbs {
  margin: 1rem 0;
}

.breadcrumbs a {
  text-decoration: underline;
  color: var(--main-text-color);
}

.breadcrumbs a:hover {
  color: var(--main-accent-color);
}
