:root {
  /* Color Variables */
  --main-bg-color: #000000;
  --main-text-color: #fefefe;
  --main-accent-color: #581dff;
  --secondary-accent-color: #6a6a6a;
  --tertiary-accent-color: #1d1d1d;

  /* Text Variables */
  --h1-xl-size: 5rem;
  --h2-xl-size: 4rem;
  --h3-xl-size: 3rem;
  --h4-xl-size: 3rem;
  --p-xl-size: 1.2rem;

  --h1-m-size: 4rem;
  --h2-m-size: 3rem;
  --h3-m-size: 2.4rem;
  --h4-m-size: 1.8rem;
  --p-m-size: 1rem;

  --h1-s-size: 3rem;
  --h2-s-size: 2.4rem;
  --h3-s-size: 1.8rem;
  --h4-s-size: 1.6rem;
  --p-s-size: 1.2rem;

  /* Width Variables */
  --container-xl-width: 70vw;
  --container-s-width: 70vw;
}

body {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
  background: var(--main-bg-color);
}

h1 {
  font-family: "Syne", sans-serif;
  font-weight: 700;
  color: var(--main-text-color);
  font-size: var(--h1-xl-size);
}

h2 {
  font-family: "Syne", sans-serif;
  font-weight: 700;
  color: var(--main-text-color);
  font-size: var(--h2-xl-size);
}

h3 {
  font-family: "Syne", sans-serif;
  font-weight: 400;
  color: var(--main-text-color);
  font-size: var(--h3-xl-size);
}

h4 {
  font-family: "Syne", sans-serif;
  font-weight: 700;
  color: var(--main-text-color);
  font-size: var(--h4-xl-size);
}

p,
textarea {
  color: var(--main-text-color);
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: var(--p-xl-size);
  line-height: 150%;
}

.label {
  color: var(--main-text-color);
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.button {
  font-family: "Syne", sans-serif;
  font-weight: 700;
  color: var(--main-text-color);
  font-size: var(--p-xl-size);
  text-decoration: underline;
  transition: ease-in-out 0.2s;
}

.button-border {
  border: 1px solid var(--main-text-color);
  text-align: center;
  margin-top: 1rem;
  transition: ease-in-out 0.2s;
}

nav p,
nav a,
nav li,
nav ul {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  color: var(--secondary-accent-color);
  font-size: 1.2rem;
  text-decoration: none;
  list-style: none;
  display: flex;
}

nav {
  width: var(--container-xl-width);
  background: var(--main-bg-color);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 45%,
    rgba(0, 0, 0, 0.7819721638655462) 83%,
    rgba(0, 0, 0, 0.5) 100%
  );
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;
}

nav p,
nav li {
  margin: 2rem;
}

nav ul {
  margin: 0;
}

nav div {
  display: flex;
}

nav a {
  transition: ease-in-out all 0.2s;
}

nav #end {
  margin-right: 11rem;
}

nav a:hover,
nav a:focus {
  color: var(--main-text-color);
  transform: translateY(-3px);
}

.overlay {
  display: none;
}

.menu-icon {
  display: none;
}

.resume-button {
  border: 1px solid var(--main-text-color);
  position: absolute;
  padding: 0.4rem 0.8rem;
  top: -0.4rem;
  right: 0;
}

.resume-button a {
  color: var(--main-text-color);
}

.resume-button:hover {
  background: var(--tertiary-accent-color);
}

aside {
  position: fixed;
  right: 2rem;
  top: 50vh;
}

aside ul {
  list-style: none;
  margin: 2rem 0;
}

aside a {
  color: var(--secondary-accent-color);
  text-decoration: none;
  font-family: "Syne", sans-serif;
  font-weight: 400;
  font-size: var(--p-xl-size);
  transition: ease-in-out all 0.2s;
}

aside .email-link {
  position: absolute;
  transform: rotate(90deg);

  /* This positions the email in the center of the aside
    They are random numbers, so if it breaks, change them till you get it centered */
  right: -103px;
  top: -105px;
}

aside img {
  margin: 0.6rem 0;
  height: 2rem;
}

aside a:hover,
aside a:focus {
  color: var(--main-text-color);
  filter: brightness(200);
}

.container {
  width: var(--container-xl-width);
  margin: auto;
}

header .container {
  background: url("/Videos/Ring_v2_3.6MB.gif") no-repeat center center;
  background-size: contain;
  height: 70vh;
  max-height: 100vh;
  margin-top: 0;
  padding: 15vh;
}

header h2 {
  margin-top: 14vh;
}

header h1 {
  padding-top: 10vh;
  max-height: 90vh;
  text-align: right;
}

header .arrow {
  text-align: center;
  position: absolute;
  bottom: 2rem;
  left: 50%;
}

header .arrow img {
  height: 2rem;
}

.scroll-text {
  animation: jump-up 2s ease-in-out infinite 4s;
}

@keyframes jump-up {
  100% {
    transform: translateX(0%);
  }

  50% {
    transform: translateY(-10px);
  }

  0% {
    transform: translateX(0%);
  }
}

.fade-in-left,
.fade-in-right {
  opacity: 0;
  -moz-transition: opacity 1.5s;
  -webkit-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
  transition: opacity 1.5s;
}

body.loaded .fade-in-left {
  animation: move-in-from-left 2s ease-in-out forwards;
}

body.loaded .fade-in-right {
  animation: move-in-from-right 2s ease-in-out forwards;
}

@keyframes move-in-from-left {
  0% {
    transform: translateX(-10%);
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes move-in-from-right {
  0% {
    transform: translateX(10%);
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

#mission-statement {
  background-image: url(/Images/dotGrid.jpg);
  background-size: cover;
  height: 70vh;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

#testimonials {
  height: auto;
  min-height: 70vh;
}

#testimonials h3 {
  display: none;
}

.testimonial {
  margin: 30vh 0;
  /*Below is for the animation*/
  opacity: 0;
  -moz-transition: opacity 1.5s;
  -webkit-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
  transition: opacity 1.5s;
}

.testimonial.is-visible {
  animation: move-in 2s 0.1s ease-in-out forwards;
}

@keyframes move-in {
  0% {
    transform: translateX(-10%);
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

#right {
  text-align: right;
}

#work a {
  color: var(--main-text-color);
  transition: ease-in-out all 0.2s;
}

/* Add new ids from tiles to make hover effects work*/
#intrusty-tile-heading,
#intrusty-tile-subheading,
#intrusty-tile-tags {
  opacity: 0;
  transition: ease-in-out all 0.2s;
}

#work .work-tile:hover #intrusty-tile-heading,
#work .work-tile:focus #intrusty-tile-heading,
#work .work-tile:hover #intrusty-tile-subheading,
#work .work-tile:focus #intrusty-tile-subheading,
#work .work-tile:hover #intrusty-tile-tags,
#work .work-tile:focus #intrusty-tile-tags {
  opacity: 1;
  filter: contrast(150%);
}

#work .work-tile:hover,
#work .work-tile:focus {
  filter: contrast(90%);
}

#work .flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: bottom;
  align-items: center;
}

#work .flex-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.view-all-button:hover {
  transform: translateY(-3px);
}

.work-tile {
  width: 20vw;
  height: 20vw;
  background: rebeccapurple;
  padding: 1rem;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipse;
  margin-bottom: 3rem;
  position: relative;
  margin: 0.8vw;
  transition: ease-in-out all 0.2s;
}

.work-tile .title {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 18vw;
}

.work-tile .tags {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  width: 18vw;
}

.work-tile h4,
.work-tile p {
  margin: 0;
}

#work .flex-2 a {
  text-decoration: none;
}

#intrusty-tile {
  background-image: url("/Images/intrusty-tile-image.png");
  background-size: cover;
  background-position: 55%;
}

#about {
  margin-top: 40vh;
}

#about .flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

#about .about-me-text {
  width: 30vw;
  max-width: 50rem;
}

#about .about-me-text .main-text {
  margin-bottom: 4rem;
}

#about .about-image {
  width: 25vw;
}

#contact {
  margin-top: 40vh;
}

#contact input,
#contact button,
#contact textarea {
  display: block;
}

#contact .flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

#contact form {
  width: 55%;
}

#contact #name {
  width: 15rem;
  margin-right: 2rem;
}

#contact #email {
  width: 40rem;
}

#contact textarea {
  width: 60rem;
  margin-bottom: 2rem;
}

#contact input,
#contact textarea {
  padding: 0.5rem 1rem;
  font-size: var(--p-xl-size);
}

#contact textarea,
#contact input {
  background: var(--tertiary-accent-color);
  border: 1px solid var(--main-text-color);
  text-align: left;
  margin-top: 0.4rem;
  min-height: 2.4rem;
  color: var(--main-text-color);
}

#contact button {
  background: var(--main-bg-color);
  border: 1px solid var(--main-text-color);
  text-align: center;
  padding: 1rem 8rem;
  margin-top: 3rem;
  transition: all ease-in-out 0.2s;
}

#contact button:hover,
#contact button:focus,
.button-border:hover,
.button-border:focus {
  background: var(--tertiary-accent-color);
}

footer {
  background-image: url(/Images/perlinNoiseTerrain.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
  width: 100%;
  height: auto;
  min-height: 100px;
  margin-top: 30vh;
  padding-bottom: 1vh;
}

footer .contact-info {
  margin-right: 10vw;
}

footer .flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: top;
  margin-bottom: 30vh;
}

footer ul,
footer a {
  color: var(--main-text-color);
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: var(--p-xl-size);
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

footer li {
  margin: 0;
  padding: 0;
  line-height: 200%;
}

footer a:hover {
  text-decoration: underline;
}

/*
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.

.
.
.
*/

@media (max-width: 1400px) {
  h1 {
    font-size: var(--h1-m-size);
  }

  h2 {
    font-size: var(--h2-m-size);
  }

  h3 {
    font-size: var(--h3-m-size);
  }

  h4 {
    font-size: var(--h4-m-size);
  }

  p {
    font-size: var(--p-m-size);
  }

  .label {
    font-size: 1rem;
  }

  .resume-button {
    display: none;
  }

  nav #end {
    margin-right: 0;
  }

  aside {
    display: none;
  }

  #contact .flex {
    width: var(--container-xl-width);
  }

  #contact form {
    width: 55%;
  }

  #contact #name {
    width: 30vw;
    min-width: var(--container-xl-width) / 2 - 2rem;
    margin-right: 2rem;
  }

  #contact #email {
    width: 30vw;
    min-width: var(--container-xl-width) / 2 - 2rem;
  }

  #contact textarea {
    width: var(--container-xl-width);
  }

  #contact button:hover,
  #contact button:focus,
  .button-border:hover,
  .button-border:focus {
    background: var(--tertiary-accent-color);
  }
}

/*
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.
.

.
.
.
*/

@media (max-width: 700px) {
  /* Mobile Nav */

  body {
    width: auto;
  }

  .container {
    width: var(--container-s-width);
    margin: auto;
  }

  h1 {
    font-size: var(--h1-s-size);
  }

  h2 {
    font-size: var(--h2-s-size);
  }

  h3 {
    font-size: var(--h3-s-size);
  }

  h4 {
    font-size: var(--h4-s-size);
  }

  p {
    font-size: var(--p-s-size);
  }

  .label {
    font-size: 1rem;
  }

  .button {
    font-family: "Syne", sans-serif;
    font-weight: 700;
    color: var(--main-text-color);
    font-size: var(--p-xl-size);
    text-decoration: underline;
    transition: ease-in-out 0.2s;
  }

  header .container {
    background: url("/Videos/Ring_v2_3.6MB.gif") no-repeat top center;
    background-size: contain;
    height: 70vh;
    max-height: 100vh;
    text-align: center;
    padding: 0;
  }

  header h2 {
    margin-top: 20vh;
  }

  header h1 {
    padding-top: 30vh;
    max-height: 90vh;
    text-align: center;
  }

  aside {
    display: none;
  }

  .testimonial {
    text-align: center;
  }

  #right {
    text-align: center;
  }

  .overlay {
    display: initial;
  }

  .menu-icon {
    display: initial;
    position: absolute;
    right: 3rem;
    top: 3rem;
  }

  nav .logo {
    display: block;
  }

  .nav-icon {
    width: 2rem;
    height: 2rem;
  }

  .nav-icon {
    fill: var(--secondary-accent-color);
  }

  .nav-icon:hover,
  .nav-icon:focus {
    filter: brightness(200);
  }

  .work-tile {
    width: var(--container-s-width);
    height: var(--container-s-width);
    margin-bottom: 3rem;
  }

  .work-tile .title {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 90%;
  }

  .work-tile .tags {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    width: 90%;
  }

  #about .flex {
    display: block;
  }

  #about .about-me-text {
    width: var(--container-s-width);
  }

  #about h2 {
    margin-bottom: 3rem;
  }

  #about .about-image {
    margin-top: 3rem;
    width: var(--container-s-width);
  }

  #contact input,
  #contact button,
  #contact textarea {
    display: block;
  }

  #contact .flex {
    display: block;
    margin-bottom: 2rem;
  }

  #contact form {
    width: var(--container-s-width);
  }

  #contact #name,
  #contact #email,
  #contact textarea,
  #contact button {
    margin-bottom: 2rem;
    width: 100%;
  }

  footer .extras {
    display: none;
  }

  /* The Overlay (background) */
  .overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0); /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.945); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }

  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 20%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 10vh; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }

  /* The navigation links inside the overlay */
  .overlay a {
    font-family: "Syne", sans-serif;
    font-weight: 700;
    padding: 1rem;
    line-height: 200%;
    text-decoration: none;
    font-size: 36px;
    color: var(--secondary-accent-color);
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }

  /* When you mouse over the navigation links, change their color */
  .overlay a:hover,
  .overlay a:focus {
    color: var(--main-text-color);
  }

  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 0rem;
    right: 2rem;
    font-size: 60px;
  }

  nav {
    display: none;
  }
  /* End of mobile nav */
}

/*
 Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... }
*/

/*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*/
/*** Project CSS ***/
