
nav ul {
    list-style: none;
    text-decoration: none;
    padding-left: 0;
}

nav ul li {
    padding-left: 2rem;
}

nav a {
    text-decoration: none;
}

nav ul div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

nav .border-top {
    border-top: var(--grey-100) 1px solid;
}

/* Hover Effects */

nav a:hover p {
    font-weight: 500;
    color: var(--grey-300);
}

/* Right Arrow Animation */

nav .arrow-right a:hover .nav-arrow-right {
    display: block;
}

.nav-arrow-right {
    display: none;
    margin-left: 10px;
    margin-top: 3px;
    width: 20px;
    color: var(--grey-400);
    animation: arrow-right forwards 0.2s linear;
}

@keyframes arrow-right {
    0% {
        margin-left: 10px;
        margin-top: 3px;
        width: 15px;
        opacity: 0.4;
    }
    100% {
        margin-left: 15px;
        margin-top: 3px;
        width: 20px;
        opacity: 1;
    }
}

/* Diagonal Arrow Navigation */

nav .arrow-diagonal a:hover .nav-arrow-diagonal {
    display: block;
}

.nav-arrow-diagonal {
    display: none;
    margin-left: 10px;
    margin-top: 3px;
    width: 15px;
    color: var(--grey-400);
    animation: arrow-diagonal forwards 0.2s linear;
}

@keyframes arrow-diagonal {
    0% {
        margin-left: 10px;
        margin-top: 3px;
        width: 10px;
        opacity: 0.4;
    }
    100% {
        margin-left: 15px;
        margin-top: 0px;
        width: 15px;
        opacity: 1;
    }
}
