

#air-bear-hero-img {
    width: 60%;
}

main img {
    border-radius: 12px;
}

header .flex-row-start div:first-child {
    max-width: 30%;
    margin-right: 10rem;
    height: 100%;

}

header span {
    color: var(--main-accent-color);
    font-weight: 600;
}

.flex-row-start p {
    width: 100%;
}

header .flex-column-between {
    height: 100%;
}

#problem-section div,
#research-section div{
    width: 30%;
    margin-right: 10rem;
    position: relative;
}

#problem-section div {
    padding-bottom: 10%;
}

#word-cloud {
    text-align: center;
    align-items: center;
    position: relative;
}

#word-cloud h1 span {
    color: var(--grey-200);
    font-size: smaller;
}

#word-cloud h1 .darker {
    color: var(--grey-300);

}

#word-cloud .cloud-green {
    color: var(--main-accent-color);
}

#word-cloud img {
    width: 16rem;
    position: absolute;
    top: 10%;
    right: 0;
}

#word-cloud span img {
    display: none;
}

#word-cloud .interviews img {
    filter: saturate(10%); 
}

#word-cloud span img {
    position: absolute;
    top: -70px; /* Adjust vertical distance */
    left: 50%;
    transform: translateX(-50%);
    display: none;
    z-index: 10;
    width: 60%; /* Adjust width */
    height: auto; /* Maintain aspect ratio */
    transition: opacity 0.3s; 
}

#word-cloud span:hover img {
    display: block;
    opacity: 1;
}

#prototyping-section p {
    width: 30%;
    margin-right: 10rem;
}

#prototyping-section img {
    width: 40%;
}

#evaluation-section video {
    width: 70%;
}

#evaluation-section p {
    margin-right: 10rem;
    width: 30%;
}

#air-bear-notification {
    width: 100%;
    animation: pop-up-1 8s ease-in forwards;
    animation-iteration-count: infinite;
    position: absolute;
    bottom: 0;
}

#air-bear-notification-2 {
    width: 100%;
    animation: pop-up-2 8s ease-in forwards;
    animation-iteration-count: infinite;
    position: absolute;
    bottom: 0;
}

@keyframes pop-up-1 {
    0% {
    transform: translateY(50px);
    opacity: 0;
    display: block;
    }
    9% {
        transform: translateY(-5px);
        opacity: 1; 
    }
    10% {
        transform: translateY(0px);
        opacity: 1; 
    }
    40% {
        transform: translateY(0px);
        opacity: 1; 
    }
    41% {
        transform: translateY(-5px);
        opacity: 1; 
    }
  
    50% {
        transform: translateY(50px);
        opacity: 0;
        display: none;
    }
    100% {
        transform: translateY(50px);
        opacity: 0;
        display: none;

    }
}

@keyframes pop-up-2 {
    0% {
        transform: translateY(50px);
        opacity: 0;
        display: none;

    }
    50% {
    transform: translateY(50px);
    opacity: 0;
    display: block;

    }
    59% {
        transform: translateY(-5px);
        opacity: 1; 
    }
    60% {
        transform: translateY(0px);
        opacity: 1; 
    }
    90% {
        transform: translateY(0px);
        opacity: 1; 
    }
    91% {
        transform: translateY(-5px);
        opacity: 1; 
    }
  
    100% {
        transform: translateY(50px);
        opacity: 0;
        display: none;

    }
}