<aside>
  <nav>
    <!-- Home & About Links -->
    <ul class="arrow-right">
      <li>
        <a href="/">
          <div>
            <p>Home</p>
            <img
              src="/images/nav-arrow-right.svg"
              alt="#"
              class="nav-arrow-right"
            />
          </div>
        </a>
      </li>
      <li>
        <a href="/#about" rel="noopener">
          <div>
            <p>About</p>
            <img
              src="/images/nav-arrow-right.svg"
              alt="#"
              class="nav-arrow-right"
            />
          </div>
        </a>
      </li>
    </ul>
    <!-- Work -->
    <ul class="border-top arrow-right arrow-diagonal">
      <h5>Work</h5>
      <li>
        <a href="/case_studies/assistant.html">
          <div>
            <p>Assistant</p>
            <img
              src="/images/nav-arrow-right.svg"
              alt="#"
              class="nav-arrow-right"
            />
          </div>
        </a>
      </li>
      <li>
        <a href="https://recite.space/case_study" target="_blank" rel="noopener">
          <div>
            <p>Recite</p>
            <img src="/images/nav-diagonal-arrow.svg" alt="#" class="nav-arrow-diagonal" />
          </div>
        </a>
      </li>
      <li>
        <a href="/case_studies/air-bear.html">
          <div>
            <p>Air Bear</p>
            <img
              src="/images/nav-arrow-right.svg"
              alt="#"
              class="nav-arrow-right"
            />
          </div>
        </a>
      </li>
    </ul>
    <ul class="border-top arrow-diagonal arrow-right">
      <h5>Contact</h5>
      <li>
        <a
          href="https://www.linkedin.com/in/thomas-kelly-337ab01b7/"
          rel="noopener"
          target="_blank"
        >
          <div>
            <p>LinkedIn</p>
            <img
              src="/images/nav-diagonal-arrow.svg"
              alt="#"
              class="nav-arrow-diagonal"
            />
          </div>
        </a>
      </li>
      <li>
        <a
          href="https://github.com/thomaskelly281?tab=repositories"
          rel="noopener"
          target="_blank"
        >
          <div>
            <p>GitHub</p>
            <img
              src="/images/nav-diagonal-arrow.svg"
              alt="#"
              class="nav-arrow-diagonal"
            />
          </div>
        </a>
      </li>
      <li>
        <a
          href="mailto:thomaskelly281@gmail.com"
          rel="noopener"
          target="_blank"
        >
          <div>
            <p>Email</p>
            <img
              src="/images/nav-diagonal-arrow.svg"
              alt="#"
              class="nav-arrow-diagonal"
            />
          </div>
        </a>
      </li>
      <li>
        <a href="/documents/cv.pdf" rel="noopener" target="_blank">
          <div>
            <p>CV</p>
            <img
              src="/images/nav-diagonal-arrow.svg"
              alt="#"
              class="nav-arrow-diagonal"
            />
          </div>
        </a>
      </li>
    </ul>
  </nav>
</aside> 